/* === Base ================================================================= */

body {
  background-color: #ddd;
  background-image: url('../img/furley_bg.jpg');
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Open Sans', arial;
  font-weight: 400;
  font-size: 14px;
}

/* === Header =============================================================== */

.header-image {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 7px;
}

@media (max-width: 767px) {
  .header-image {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 60px;
  }
}

.navbar .navbar-inner {
  padding: 0 10px;
}

.navbar .nav {
  margin: 0px;
}

.navbar .nav > li > a {
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 13px;
  padding-right: 13px;
}

#mobileMenuToggle {
  position: fixed;
  top: 5px;
  right: 0px;
  z-index: 1111;
  padding: 3px;
  background-color: #693;
  color: #fff;

  -moz-box-shadow:    5px 2px 5px #000;
  -webkit-box-shadow: 5px 2px 5px #000;
  -o-box-shadow:      5px 2px 5px #000;
  -ms-box-shadow:     5px 2px 5px #000;
  box-shadow:         5px 2px 5px #000;

  -moz-border-radius:    3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius:      3px 0 0 3px;
  -ms-border-radius:     3px 0 0 3px;
  border-radius:         3px 0 0 3px;
  behavior: url('/assets/css/PIE.htc');
}

#mobileMenuToggle:hover {
  cursor: pointer;
}

#mobileMenu {
  display: none;
  background: #ffffff;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1110;

  -moz-box-shadow:    0 0 10px #222;
  -webkit-box-shadow: 0 0 10px #222;
  -o-box-shadow:      0 0 10px #222;
  -ms-box-shadow:     0 0 10px #222;
  box-shadow:         0 0 10px #222;
  behavior: url('/assets/css/PIE.htc');
}

.mobileMenuHeader {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 60px;
}

.mobileNav {
  padding: 0px;
  margin: 0px;
}

.mobileNav > li {
  padding: 8px 25px;
  list-style: none;
  text-transform: uppercase;
  background-color: #fff;
  min-width: 100%;
  
  -moz-box-shadow:    0 2px 4px #999;
  -webkit-box-shadow: 0 2px 4px #999;
  -o-box-shadow:      0 2px 4px #999
  -ms-box-shadow:     0 2px 4px #999
  box-shadow:         0 2px 4px #999;
  behavior: url('/assets/css/PIE.htc');
}

.mobileNav > li > a {
  display: block; /* Makes <a> detect click on the whole row */
}

#searchBox {
  padding-top: 15px;
  height: 35px;
  background-color: #8fb149;
  background-image: url('../img/calendar-background.png');
}

#map {
  cursor: pointer;
}

/* === Content  ============================================================= */

#content {
  max-width: 979px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #693;
}

h1 {
  font-size: 32px;
  line-height: 32px;
  padding-top: 6px;
}

h2 {
  font-size: 20px;
  line-height: 20px;
  padding-top: 6px;
}

h3 {
  font-size: 16px;
  line-height: 16px;
}

h4 {
  font-size: 14px;
  line-height: 14px;
}

.contentBox {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  -moz-box-shadow:    0px 2px 5px 0px #999;
  -webkit-box-shadow: 0px 2px 5px 0px #999;
  -o-box-shadow:      0px 2px 5px 0px #999;
  -ms-box-shadow:     0px 2px 5px 0px #999;
  box-shadow:         0px 2px 5px 0px #999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  behavior: url('/assets/css/PIE.htc');
  overflow: hidden;
}

.contentBox a {
  color: #693;
}

.hideHref a {
  color: #000;
}

.hideHref a:hover {
  color: #693;
}

.contentBox dt {
  font-size: 14px;
  text-transform: uppercase;
}

.contentGroupHeader {
  background-size: auto 100%;
  height: 150px;
}

.contentGroupHeader > h1 {
  padding-top: 65px;
  font-size: 64px;
  line-height: 64px;
  color: #fff;
  text-shadow: 0px 0px 10px #000;
}

.readMore:after {
  display: inline-block;
  margin-left: 4px;
  padding: 2px 2px;
  color: #555;
  background-color: #eee;
  border: solid 1px #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  behavior: url('/assets/css/PIE.htc');
  font-size: 12px;
  line-height: 12px;
  content: "Läs mer...";
}

.ageAndTime {
  margin-top: 0px;
  margin-bottom: 10px;
}
.ageAndTime > span {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  behavior: url('/assets/css/PIE.htc');
  border: 1px solid #ddd;
  padding: 2px 5px;
  margin-bottom: 10px;
}

.dividerHor {
  border-bottom: 1px solid #ddd;
}

.dividerVert {
  border-left: 1px solid #ddd;
  margin: 0px 5px;
  padding: 0px;
}

.fileDownload {
  margin: 2px 2px;
  padding: 2px 4px;
  background-color: #eee;
  border: 1px solid #ddd;
  display: inline-block;
}

.fileDownload:hover {
  border: 1px solid #777;
  color: #000;
  text-decoration: none;
}

.estyle {
  color: #361;
  padding: 0 4px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 22px;
    line-height: 22px;
  }
  
  h2 {
    font-size: 14px;
    line-height: 14px;
  }
  
  h3 {
    font-size: 12px;
    line-height: 12px;
  }
  
  h4 {
    font-size: 12px;
    line-height: 12px;
  }
  
  .contentGroupHeader {
    height: 100px;
  }

  .contentGroupHeader > h1 {
    padding-top: 45px;
    font-size: 36px;
    line-height: 36px;
  }
}



/* === Padding and margin =================================================== */

.paddingBoth {
  padding-left: 20px;
  padding-right: 20px;
}

.paddingLeft {
  padding-left: 10px;
}

.paddingRight {
  padding-right: 10px;
}

.marginBoth {
  margin-left: 50px;
  margin-right: 50px;
}

.marginLeft {
  margin-left: 10px;
  margin-right: 0px;
}

.marginRight {
  margin-left: 0px;
  margin-right: 10px;
}

.marginBottom {
  margin-bottom: 10px;
}

.marginMoveUp {
  margin-top: -25px;
  padding-top: 10px;
}

@media (max-width: 767px) {
  .paddingBoth {
    padding-left: 10px;
    padding-right: 10px;
  }
  .paddingLeft {
    padding-left: 0px;
  }
  .paddingRight {
    padding-right: 0px;
  }
  .marginBoth {
    margin-left: 10px;
    margin-right: 10px;
  }
  .marginLeft,
  .marginRight {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.smallBox {
  width: 45%;
  margin: 0 0 10px 0;
  padding: 0 0;
  border: 4px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  zoom: 1;
  behavior: url('/assets/css/PIE.htc');
}

/* === Image positioning ==================================================== */

figure {
  padding: 0px;
  margin: 0px;
}

.imgLeft {
  float: left;
  margin-right: 20px;
}

.imgCenter {
  display: block;
  margin: 0 auto;
}

.imgRight {
  float: right;
  margin-left: 20px;
}

@media (max-width: 640px) {

  .imgLeft {
    float: none;
    display: block;
    margin: auto;
  }

  .imgRight {
    float: none;
    display: block;
    margin: auto;
  }
}

/* === Calendar ============================================================= */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap div {
  float: left;
  width: 100%;
  position: relative;
}

.cal-container {
  margin: 0;
  background-image: url('../img/calendar-background.png');

  color: #000;
  text-rendering: optimizelegibility;
  font-family: 'Open Sans', sans-serif;;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}

.cal-container table {
  min-width: 100%;
}

.cal-container td {
  vertical-align: top;
}

.cal-week {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding: 6px 6px 0px 6px;
  color: #2A5F21;
	background-color: #eee; /* IE8 */
  background-color: rgba(255,255,255,0.5);
}

.cal-week > small {
  display: block;
  font-size: 12px;
}

.cal-week-prev {
  float: left;
  margin: 6px;
}

.cal-week-next {
  float: right;
  margin: 6px;
}

.cal-divider {
  height: 2px;
  -moz-box-shadow:    0 5px 10px   0px #000 inset;
  -webkit-box-shadow: 0 5px 10px   0px #000 inset;
  -o-box-shadow:      0 5px 10px -10px #000 inset;
  -ms-box-shadow:     0 5px 10px -10px #000 inset;
  box-shadow:         0 5px 10px -10px #000 inset;
  behavior: url('/assets/css/PIE.htc');
}

.cal-date {
  width: 45px;
  min-height: 80px;
  height: 80px;
}

.cal-date > div {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #eee; /* IE8 */
  background-color: rgba(255,255,255,0.5);
  padding: 4px 4px;
  margin: 2px 2px 4px 4px;
  color: #2A5F21;
  float: left;
  max-width: 30px;
  min-width: 30px;
  display: inline;
  text-align: center;

  -moz-box-shadow:    0 0 8px -3px #000;
  -webkit-box-shadow: 0 0 8px -3px #000;
  -o-box-shadow:      0 0 8px -3px #000;
  -ms-box-shadow:     0 0 8px -3px #000;
  box-shadow:         0 0 8px -3px #000;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.cal-date > div > p {
  display: block;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: #000;
  margin: 0px;
}

.cal-sunday > div {
  color: #a00;
}

.cal-time {
  padding-top: 4px;
  width: 47px;

  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 0px 2px #555;
  letter-spacing: 1px;
}

.cal-event {
  padding-top: 4px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  text-shadow: 0px 0px 2px #555;
  letter-spacing: 1px;
  max-width: 0px;
}

.cal-desc {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

/* === Noticebox ============================================================ */

#noticeboxSwipe {
  background-color: #fff;
  margin: 4px;
  border-radius: 4px;
}

.noticebox > img {
  width: 100%;
}

.noticeboxNav {
  width: 100%;
  margin-top: -10px;
}
.noticeboxNav ul {
  margin-left: 0;
}
.noticeboxNav li {
  margin: 0 0 0 6px;
  padding: 0;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.noticeboxNav li a {
  min-width: 40px;
  max-width: 100px;
  height: 14px;
  display: block;
  padding: 5px 5px 2px 5px;
  color: #bbb;
  background-color: #777;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  behavior: url('/assets/css/PIE.htc');

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.noticeboxNav li a:hover {
  color: #693;
  background-color: #fff;
}
.noticeboxNav li a.on {
  color: #693;
  background-color: #fff;
}

@media (max-width: 767px) {
  .noticeboxNav li a {
    min-width: 50px;
    max-width: 50px;
  }
}


/* === News =============================================================== */

.newsMeta {
  line-height: 7px;
  font-size: 11px;
  color: #999;
}

.newsImg {
  max-height: 100px;
  padding: 10px 0 20px 0;
}

@media (max-width: 767px) {
  .newsImg {
    max-height: 100px;
    padding: 5px 0 0 0;
  }
}

/* === Person =============================================================== */

.person > img {
  float: left;
}

.person > h4 {
  padding-top: 20px;
  padding-left: 150px;
}

.person > p {
  padding-left: 150px;
  line-height: 14px;
}

/* === Teaching ============================================================== */

/*
.teachingThemeImg {
  float: left;
  margin-right: 20px;
  max-width: 100px;
}
*/
.teachingMeta {
  line-height: 13px;
  font-size: 12px;
  color: #999;
}


.acal-date {
  width: 45px;

  text-rendering: optimizelegibility;
  font-family: 'Open Sans', arial;
  font-weight: 700;
}

.acal-date > div {
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
  background-color: #f5f5f5;
/*  padding: 4px 4px; */
  margin: 0;
  color: #2A5F21;
  float: right;
  max-width: 40px;
  min-width: 40px;
  display: inline;
  text-align: center;

  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  -o-border-radius: 0 0 0 3px;
  -ms-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}

.acal-date > div > p {
  display: block;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: #555;
  margin: 0px;
  padding: 0 4px 4px 4px;
}






@media (max-width: 480px) {
  .teachingThemeImg {
    max-width: 60px;
  }
}


/* === Footer =============================================================== */

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }
