/* ==========================================================================
   Base
   ========================================================================== */

body { }

  .maximg > img {
    display: block;
    max-width: 100%;
    width:100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
  }

  .maximg {
    padding: 0px 10px 30px 10px;
  }

@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container,
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .maximg > img {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto;
  }
}

/* =============================================================================
   Header
   ========================================================================== */

#banner {
/*
  color: #ffffff;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
*/  
  
  padding: 3px;
  padding-top: 10px;
  
  background: rgb(69,72,77);
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}

/* Fixed Topbar Navigation */
body.top-navbar {
  padding-top: 0px;
}

body.admin-bar .navbar-fixed-top { top: 28px; }

.header-image {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 7px;
}

a.nav-header-palmate {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

a.nav-group-palmate {
  padding-left: 30px;
}


/* ==========================================================================
   Content
   ========================================================================== */

#content { }

h1 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

table {
  color: #000;
}

td {
  border-top: none !important;
  padding: 2px !important;
}

td > strong {
  text-transform: uppercase;
}

.calcol1 {
  width: 88px;
  text-transform: uppercase;
}
.calcol2 {
  width: 45px;
}
.calcol3 {
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

#main { }

.calendarbox {
background: #73b532;
background: -moz-linear-gradient(top, #FFFFFF 0%,  #73b532 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#73b532));
background: -webkit-linear-gradient(top, #FFFFFF 0%, #73b532 100%);
background: -o-linear-gradient(top, #FFFFFF 0%, #73b532 100%);
background: -ms-linear-gradient(top, #FFFFFF 0%, #73b532 100%);
background: linear-gradient(to bottom, #FFFFFF 0%, #73b532 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#73b532',GradientType=0 );

  -moz-box-shadow:    inset 0 0 3px #FFFFFF;
  -webkit-box-shadow: inset 0 0 3px #FFFFFF;
  box-shadow:         inset 0 0 3px #FFFFFF;

  color: #FFF;
  padding: 5px;
}

//73b532
//3A7827
//2A5F21

/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry p.byline { }
.hentry .entry-content { }
.hentry footer { }


/* ==========================================================================
   Infobox
   ========================================================================== */

.infobox > div > img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.infobox > div > img:hover {
  -moz-box-shadow:    box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -o-transition:      box-shadow 0.5s;
  -ms-transition:     box-shadow 0.5s;
  -moz-box-shadow:    0px 0px 10px 0px #73b532;
  -webkit-box-shadow: 0px 0px 10px 0px #73b532;
  -o-box-shadow:      0px 0px 10px 0px #73b532;
  -ms-box-shadow:     0px 0px 10px 0px #73b532;
  box-shadow:         0px 0px 10px 0px #73b532;
}

.infobox {
  padding: 0px 10px 30px 10px;
}

.infobox > div {
  position: relative;
}

.infobox h2 {
  color: #fff;
  text-shadow: black 0px 0px 4px;
  text-align: center;
  position: absolute;
  top: 35%;
  width: 100%;
}

@media (max-width: 767px) {
  .infobox > div > img {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto;
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */

#content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}